<style>
  #map {
    height: 180px;
  }
  .page-line-detail {
    position: relative;
    max-height: 105px;
    visibility: visible;
  }
  .line-detail-info {
    border-top: 1px #dddddd solid;
    padding: 8px 20px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15);
  }
  .line-detail-info .line-name{
    padding-top: 12px;
    font-size: 20px;
    font-weight: 500;
  }
  .line-detail-info .line-start-end{
    padding: 10px 0;
    font-size: 14px;
  }
  .line-detail-info .line-attribute {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
  }

  .line-detail-station {
  }
  .line-detail-station ul {
    height: calc(100vh - 300px);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding-top: 12px;
  }

  .line-detail-station ul li {
    position: relative;
    padding: 15px 0 15px 15px;
    font-size: 16px;
    border-left: 5px #5e83f0 solid;
    cursor: pointer;
  }
  .line-detail-station ul li:first-child {
    padding-top: 0;
  }
  .line-detail-station ul li:last-child {
    padding-bottom: 0;
  }


  ul li .line-station-point {
    position: absolute;
    left: -8px;
    top: 18px;
    width: 8px;
    height: 8px;
    border: 2px #5e83f0 solid;
    border-radius: 6px;
    background: #ffffff;
  }

  ul li.current .line-station-point {
    position: absolute;
    left: -12px;
    top: 18px;
    width: 16px;
    height: 16px;
    border: 2px #5e83f0 solid;
    border-radius: 12px;
    background: #ffffff;
  }

  ul li.current .line-station-point:before {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    left: 4px;
    top: 4px;
    background: #5e83f0;
    content: "";
  }

  .line-detail-station ul li.current {
    font-size: 18px;
    font-weight: 500;
  }

  ul li:first-child .line-station-point {
    top: 0;
  }

  ul li:last-child .line-station-point {
    top: unset;
    bottom: 0;
  }

  .gg-shape-triangle {
    left: -5px;
    top: -15px;
    position: absolute;
    width: 5px;
    height: 3px;
  }

</style>
<div *ngIf="loading" id="loading-spinner">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
<div class="page-line-detail">
  <div id="map"></div>
  <div class="line-detail-info" *ngIf="detail.stations.length > 0">
    <div class="line-name">
      {{detail.key_name}}
    </div>
    <div class="line-start-end">
      {{detail.front_name}}
      <img width="20" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAQCAYAAAB3AH1ZAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAEAAAAAANp9p1AAAAbklEQVRIDWNgGAUjIQSkpGQacPmTGZcENcW5eXj28/HxM37+/OkAurlM6AK04v/7/68eW0jQzQEgj2FzBKOEpNR/Wvkal7lMjEyNz549aQDJ0zUEQBaCAHJIDEgIQJwB9D0wJGDsUXo0BEZuCAAAbCAZMJUp5eYAAAAASUVORK5CYII='>
      {{ detail.terminal_name }}
      <div style="float: right; display: flex; cursor: pointer; color:#5B85F1" (click)="exchange(this.detail.direc)">
        <img width="20" height="16" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAbCAYAAAAdx42aAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAIKADAAQAAAABAAAAGwAAAAB6d+tkAAAArUlEQVRIDe2WwQ2AIAwA0QUYUDfhIT7YRAdkArWPEgJCGrVoTPnUhKY9jlhVStZfDYzOW8rZekrSlZxNqYkCwQYA0BQIVgAKRJfqHZw/wJ9fR6N5MdqmldkNYMPSdTQDAJASBEJKFANi4BUD2SSEDwi8r5w0q9GhbzaIYFzC2OQEiGtnALDZEiKoiKnwOb2OWB3m3I2nBrBoCxNVAABpAYEHrkbK71W1gGx+1cAO96IvityZSOEAAAAASUVORK5CYII='>
        <span style="padding-left: 2px">换向</span>
      </div>
    </div>
    <div class="line-attribute">
      <span *ngIf="detail.start_time">
        首{{detail.start_time.substring(0,2)}}:{{detail.start_time.substring(2, 4)}}
      </span>
      <span *ngIf="detail.end_time" style="padding: 0 4px;border-right: 1px #ededed solid; margin-right: 6px;">
        末{{detail.end_time.substring(0,2)}}:{{detail.end_time.substring(2, 4)}}
      </span>
      <span *ngIf="detail.total_price">
        票价:{{detail.total_price}}元
      </span>
    </div>
  </div>
  <div class="line-detail-station">
    <ul #lineDetailStation>
      <li (click)="selectedStation(i, station, $event)" *ngFor="let station of detail.stations; let i = index;" [class.current]="station.selected" #item>
        {{station.name}}
        <div class="line-station-detail">
        </div>
        <div class="gg-shape-triangle">
          <img alt="" width="5" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAYAAADtj3ZXAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAD6ADAAQAAAABAAAACQAAAACIdi6pAAAAlklEQVQoFZWRIQ+DQAxG7z+gUDgciAkslh+PnJyawowQBJLb+5YegXAwIHlcr31tSHHe+wEad+ORrz7Hq4UJ6iv98sxv1ZzAE0aozgaobp785OcSpPCCDxSxAcpbXV66cUhk8IYO8nVRd8urnq1rSxyTJEN06NIYAsQSetDnPezUvQzO6YkYFjMT/13kbhhNNWiBh7/wC8nCyhsNJQUxAAAAAElFTkSuQmCC" />
        </div>
        <div class="line-station-point">
        </div>
      </li>
    </ul>
  </div>
</div>
